@model List<OnlineStore.Models.UserRolesViewModel>
@{
    ViewBag.Title = "Users";
}
<h2 style="font-family:fantasy;color:#ec4d37">Пользователи</h2>
<table class="table table-hover table-bordered table-striped">
    <tr>
        <td>Логин</td>
        <td>Роли</td>
        <td></td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.RoleNames</td>
            <td>
                @Html.ActionLink("Изменить",
               "EditUser",
               "UserRoles",
               new { userId = user.UserID },
               new { @class = "btn btn-success" })
            </td>
        </tr>
    }
</table>

