@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="http://localhost:56170/Customer/ShowCart"> <img border="0" src="~/Image/cart2.png" width="30" height="30" title="Корзина"/></a>
        </li>
        <li>
            <a href="http://localhost:56170/Manage/Index"> <img border="0" src="~/Image/user2.png" width="30" height="30" title="Профиль"/></a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"> <img border="0" src="~/Image/logout2.png" width="30" height="30" title="Выйти"/></a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="http://localhost:56170/Account/Register"> <img border="0" src="~/Image/register2.png" width="30" height="30" title="Регистрация" /></a>
    </li>
    <li>
        <a href="http://localhost:56170/Account/Login"> <img border="0" src="~/Image/login2.png" width="30" height="30" title="Войти"/></a>
    </li>
</ul>
}
