@{
    ViewBag.Title = "Контактная информация";
}
<h2 style="color:#ec4d37;font-family:fantasy">@ViewBag.Title</h2>

<address>
    Богомолец Алим<br />
    Кыргызстан, Бишкек 720060<br />
    <abbr title="Phone">P:</abbr>
    +996555261198
</address>

<address>
    <strong>E-mail</strong>   <a href="mailto:alimbogmolets98@gmail.com">Жмяк</a><br />
</address>