@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="jumbotron" style="background-color:#ec4d37">
    <h1 style="color:snow;font-family:fantasy">Metal Gear Store</h1>
    <p class="lead" style="font-family:fantasy">У нас есть железо!</p>
    <p><a href="http://localhost:56170/Customer" class="btn btn-primary btn-lg " style="background-color:#1d1b1b;border-color:#1d1b1b;color:#ec4d37">К каталогу! &raquo;</a></p>
</div>