@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="jumbotron" style="background-color:#5F51A0;border-radius:5px;opacity:0.7">
    <h1 style="color:#011A27;font-family:fantasy">Metal Gear Store</h1>
    <p class="lead" style="font-family:fantasy;color:snow">У нас есть железо!</p>
    <p><a href="http://localhost:56170/Customer" class="btn btn-primary btn-lg " style="background-color:#063852;border-color:#063852;color:#f0810f">К каталогу! &raquo;</a></p>
</div>